/* Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Generics */
body {
	font-family: "Edu Tas Beginner", sans-serif;
	font-size: 18px;
}

header {
	background-image: url("../img/wall.png");
}

main {
	background-image: url("../img/cork.png");
}

img {
	max-width: 100%;
	max-height: 100%;
}

/* Utilities */
.container {
	max-width: 1200px;
	margin: 0 auto;
}

.d-none {
	display: none;
}

/* Header */
.title {
	text-align: center;
	font-size: 64px;
	padding: 1rem 0;
}

/* Main */
.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 2.5rem 0 4rem 0;
	gap: 1.5rem;
}

/* Overlay */
.modal {
	background-color: rgba(0 0 0 / 80%);
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	z-index: 2;

	.close-modal {
		display: block;
		margin: 0 auto;
		font-size: 18px;
		padding: 0.5rem 1rem;
	}

	img {
		margin: 2rem auto;
	}
}

/* Card */
.card {
	border: 0;
	font-family: inherit;
	font-size: inherit;
	background-color: white;
	padding: 1rem;
	box-shadow: 2px 2px 4px 0px rgb(0 0 0 / 80%);
	position: relative;
	transition:
		transform 0.1s ease-in,
		box-shadow 0.1s ease-in;

	&:hover {
		cursor: pointer;
		box-shadow: 2px 2px 10px 0px rgb(0 0 0 / 50%);
		transform: rotate(10deg) scale(1.1, 1.1);
		z-index: 1;
	}

	&:hover .pin {
		display: none;
	}
}

.pin {
	position: absolute;
	/* 50% - (dimension pin / 2) */
	left: calc(50% - 18px);
	top: -0.6rem;
}

.image-container {
	width: 300px;
	height: 300px;
	background-color: green;
}

.card-footer {
	width: 300px;
	padding: 1rem 0 0.5rem 0;
	text-align: start;
}

.card-title {
	text-transform: uppercase;
	font-weight: 800;
	font-size: 24px;
}

.card-date {
	font-family: "Sometype Mono", monospace;
	font-size: 1rem;
	color: gray;
}

/* Media Query */
@media screen and (min-width: 600px) {
	.title {
		font-size: 84px;
	}
}
