/* Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Generics */
body {
	font-family: "Edu Tas Beginner", sans-serif;
	font-size: 18px;
}

header {
	background-image: url("../img/wall.png");
}

main {
	background-image: url("../img/cork.png");
}

img {
	max-width: 100%;
	max-height: 100%;
}

/* Utilities */
.container {
	max-width: 1200px;
	margin: 0 auto;
}

/* Header */
.title {
	text-align: center;
	font-size: 64px;
	padding: 1rem 0;
}

/* Main */
.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 2.5rem 0;
	gap: 1.5rem;
}

/* Card */
.card-button {
	border: 0;
	font-family: inherit;
	font-size: inherit;
}

.card {
	background-color: white;
	padding: 1rem;
	box-shadow: 2px 2px 3px 0px rgb(33, 33, 33);
	position: relative;
}

.pin {
	position: absolute;
	/* 50% - (dimension pin / 2) */
	left: calc(50% - 18px);
	top: -0.6rem;
}

.image-container {
	width: 300px;
	height: 300px;
	background-color: green;
}

.card-footer {
	width: 300px;
	padding: 1rem 0 0.5rem 0;
}

.card-title {
	text-transform: uppercase;
	font-weight: 800;
	font-size: 24px;
}

.card-date {
	font-family: "Sometype Mono", monospace;
	font-size: 1rem;
	color: gray;
}

@media screen and (min-width: 600px) {
	.title {
		font-size: 84px;
	}
}
